.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.row {
  margin: 4em auto;
}

.card {
  margin-bottom: 2em !important;
  color: black;
  text-shadow: none;
}
